@model Voyager.Models.Vm.TripVM

@{
    ViewData["Title"] = "TripDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>TripDetails</h1>

<div>
    <h4>TripVM</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerLastname)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLastname)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeparturePoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeparturePoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalPoint)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" href="~/AdminTrip">Back to List</a>
</div>
