
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

@using Voyager.Models.Vm
@model List<PassengerVM>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Passengers</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Surname
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                View
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Surname
                                        </td>
                                        <td>
                                            @item.Password
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            <a href="./AdminPassenger/PassengerDetail/@item.ID">
                                                <button class="btn btn-outline-default btn-block">
                                                    Detail
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./AdminPassenger/Edit/@item.ID">
                                                <button class="btn btn-outline-warning btn-block">
                                                    Edit
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <button id="@item.ID" class="btn btn-outline-danger btn-block delete">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).on("click", ".delete", function () {
        let id = $(this).attr("id");
        $.ajax({
            url: "/AdminArea/AdminPassenger/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                // alert("Deleted successfully!!!");
                // $("#" + id).fadeOut();
                window.location.href = "/AdminArea/AdminPassenger"
            },
            error: function (err) {
                alert("Failed!");
            }
        })
    })
</script>