

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

@model Voyager.Models.Vm.DriverVM
<h1>Edit</h1>

<h4>DriverVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/AdminArea/AdminDriver/Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                @Html.LabelFor(q => q.Email, new { @class = "bmd-label-floating" })
                @Html.TextBoxFor(q => q.Email, new { @class = "form-control" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.Name, new { @class = "bmd-label-floating" })
                @Html.TextBoxFor(q => q.Name, new { @class = "form-control" })
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.Surname, new { @class = "bmd-label-floating" })
                @Html.TextBoxFor(q => q.Surname, new { @class = "form-control" })
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.Password, new { @class = "bmd-label-floating" })
                @Html.TextBoxFor(q => q.Password, new { @class = "form-control" })
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.Confirmpassword)
                @Html.PasswordFor(q => q.Confirmpassword, new { @placeholder = "Enter confirm password", @class = "form-control" })
                <span asp-validation-for="Re-Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.DriverLicense, new { @class = "bmd-label-floating" })
                @Html.TextBoxFor(q => q.DriverLicense, new { @type = "date", @name = "driverlicense", @class = "form-control form-control-border border-width-2", @placeholder = "mm/dd/yyyy" })
                <span asp-validation-for="DriverLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.CarPlate, new { @class = "bmd-label-floating" })
                @Html.TextBoxFor(q => q.CarPlate, new { @class = "form-control" })
                <span asp-validation-for="CarPlate" class="text-danger"></span>
            </div>
            @Html.HiddenFor(q=>q.ID)
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" href="~/AdminArea/AdminDriver">Back to List</a>
</div>

